# Flutter/Dart related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# IDEs
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/.idea/
android/local.properties
*.jks

# iOS & macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Output files
*.apk
*.aab
*.ipa
*.so
*.zip
*.dSYM
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
